<div id="nav" class="bg-primary mb-3 shadow rounded-bottom border-light">
  <nav class="navbar navbar-expand-lg container navbar-dark bg-primary">
    <div class="container">
      <a href="{{site.url}}{{site.baseurl}}" class="navbar-brand"><img
          src="{{site.url}}{{site.baseurl}}/assets/images/alltheguides.png" alt="{{ site.title }}" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto list-group list-group-horizontal">
          <li class="nav-item m-auto m-auto">
            <a href="{{site.url}}{{site.baseurl}}" class="nav-link">Home</a>
          </li>
          <li class="nav-item m-auto">
            <a href="{{site.url}}{{site.baseurl}}/spellbound" class="nav-link">Spellbound</a>
          </li>
          <li class="nav-item m-auto">
            <a href="{{site.url}}{{site.baseurl}}/troubleshooting" class="nav-link">Troubleshooting</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>