   <div class="text-center container my-2">
      <a href="https://www.akliz.net/allthemods" class="small text-decoration-none my-5">Start playing for only $20 a
         month<br><img src="{{site.url}}{{site.baseurl}}/assets/images/akliz.png" width="250px" height="70px"><br>
         Save 20% off of the first month using coupon code allthemods.
      </a>
   </div>
   <footer class="footer bg-primary container-fluid text-primary">
      <div class="row bg-primary fw-light no-gutters pt-2">
         <div class="col m-2">
            <h6 class="text-center small"><a href="{{ site.discord_link }}" class="text-primary text-muted"><i
                     class="fab fa-discord fa-3x"></i><br />Discord</a>
            </h6>
         </div>
         <div class="col m-2">
            <h6 class="text-center small"><a href="{{ site.github_link }}" class="text-primary text-muted"><i
                     class="fab fa-github fa-3x"></i><br />Need
                  Help?</a></h6>
         </div>
         <div class="col m-2">
            <h6 class="text-center small"><a href="{{ site.patreon_link }}" class="text-primary text-muted"><i
                     class="fab fa-patreon fa-3x"></i><br />Support
                  Us</a></h6>
         </div>
         <div class="col m-2">
            <h6 class="text-center small"><a href="{{ site.atm_merch }}" class="text-secondary text-muted"><i
                     class="fas fa-tshirt fa-3x"></i><br />ATM
                  Merch</a></h6>
         </div>
      </div>
      <div class="small fw-lighter text-center mt-2">
         <p class="text-muted">&copy; 2021 All the Mods</p>
      </div>
   </footer>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
   </body>
</html>