@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&display=swap');

.center {
    display: block;
    margin: auto;
}

.absolute {
    position: absolute;
}

.right {
    display: block;
    margin-left: auto;
}

.md-header__topic {
    font-weight: bold;
}

p, ul, li, tr  {
    /*font-size: 16px !important;*/
}

code {
    text-wrap: wrap;
}

* {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

b, strong {
    color: #ff7700cc !important;
}

div.md-source__repository{
    /*font-size: 10px !important;*/
}

div[data-md-type='navigation']{
    font-weight: bold;
}

img {
    max-width: 400px;
    max-height: 400px;
}

body > header {
    border-bottom: 1px solid #bd4638;
}

div.video-container iframe {
    aspect-ratio: 9/6 auto;
    height: auto !important;
}

.md-typeset td:not([class]):not(:last-child) {
    border-right: 1px solid rgba(255,255,255, 0.2);
}

.gslide-image img {
    background: transparent !important; 
}

hr {
    border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
    display: flow-root;
    margin: 1.5em 0;
}